@import "@/assets/_variables.scss";


#page-wrap {
  padding: 20px;
}

.product-table-container {
  margin-top: 100px;
}

.table-title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 5px;
}

.table-count {
  font-size: 12px;
}

.product-table {
width: 100%;
// margin: 0;
margin-top: 5px;
border: 1px solid #E4E4EF; 
border-radius: 8px; 
border-collapse: separate; // Keep row borders but remove column borders
border-spacing: 0; // Ensure no gaps between rows or cells

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #E4E4EF; // Border between rows
  border-right: none; // No border between columns
}

th {
  font-weight: bold;
  user-select: none;
}

// Left border for the first column (ID)
td:first-child,
th:first-child {
  border-left: 1px solid #E4E4EF;
}

// Left border for the last column (ID)
td:last-child,
th:last-child {
  border-left: 1px solid #E4E4EF;
}

// Remove border from the last row to avoid double border at the bottom
tr:last-child td {
  border-bottom: none;
}

// Specific styles for the serial class
td .serial {
  font-size: 12px;
  color: #808080;
}
}



// Mobile table styles, hiding unnecessary columns
@media (max-width: $mobile-breakpoint) {
  .product-table th:nth-child(1),
  .product-table th:nth-child(2),
  .product-table th:nth-child(3),
  .product-table th:nth-child(5),
  .product-table th:nth-child(6),
  .product-table td:nth-child(1),
  .product-table td:nth-child(2),
  .product-table td:nth-child(3),
  .product-table td:nth-child(5),
  .product-table td:nth-child(6) {
    display: none;
  }

  .product-table td:nth-child(4) {
    display: block;
    width: 100%;
    text-align: left;
  }
}