@import "@/assets/_variables.scss";

header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  height: 44px;
}

@media (max-width: $mobile-breakpoint) {
  header {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 75px;
  }
}

.header-box-1 {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $mobile-breakpoint) {
.header-box-1 {
  width: 100%;
}
}

.header-box-2 {
  display: flex;

  @media (max-width: $mobile-breakpoint) {
    margin-left: -22px;
    margin-top: 20px;
  }
}

// Desktop icons (gear, bell, user) always visible on desktop
.icon-group {
  display: flex;
  margin-left: 25px;

  @media (max-width: $mobile-breakpoint) {
    visibility: hidden;
  }
}

// Menu button, only shown on mobile
.menu-button {
  display: none;
  cursor: pointer;


@media (max-width: $mobile-breakpoint) {
  display: block;  // Show menu button on mobile
}
}


.search-bar {
  width: 260px;
  height: 100%;
  padding: 8px;
  padding-left: 43px;
  margin-right: 15px;
  margin-left: 25px;

  @media (max-width: $mobile-breakpoint) {
    width: 212px;
  }
}

.search-container {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-icon {
  position: absolute;
  left: 38px; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the icon from blocking input clicks */
}

.search-button {
  color: #ffffff;
  background-color: #605DEC;
  border: none;
  border-radius: 4px;
  padding: 8px 27px;
  cursor: pointer;
}


/*---------------------
Mobile Menu 
----------------------*/

.mobile-menu {
  top: 80px;
  max-width: 250px;
  right: -100%;
  left: auto;
  width: 100%;
  background: #f5f5f5;
  color: black;
  position: fixed;
  z-index: 9997;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 205px);
  -moz-transform: translate3d(0, 0, 205px);
  transform: translate3d(0, 0, 205px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.mobile-menu.active {
  right: 0;
  left: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}


.mobile-menu ul {
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  padding-left:15px;
}

.mobile-menu li:first-child {
  margin-top: 20px;
}

.mobile-menu li:hover {
  background: #CCCCCC;
}




